@font-face {
    font-family: "Hedvig Letters Sans";
    src: url(../assets/fonts/HeadvigLettersSans/HedvigLettersSans-Regular-BF6566a7fa54c57.otf);
    font-weight: 400 800;
    font-style: normal;
}
h2{
    font-size: clamp(22px, 7vw, 26px);
    font-family: "Hedvig Letters Sans";
    font-weight: 500;
    font-style: normal;
}


/*Instrument sans abaixo*/

@font-face {
    font-family: "Instrument Sans";
    src: url(../assets/fonts/InstrumentSans/InstrumentSans[wdth\,wght].ttf);
    font-style: normal;
    font-weight: 400 800;
}
@font-face {
    font-family: "Instrument Sans";
    src: url(../assets/fonts/InstrumentSans/InstrumentSans-Italic[wdth\,wght].ttf);
    font-style: italic;
    font-weight: 400 600;
}
h3{
    font-size: clamp(10px, 5vw, 15px);
    font-family: "Instrument Sans";
    font-weight: 500;
    font-style: normal;
}




/*Montserrat*/
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: 400 600;
}
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
    font-style: normal;
    font-weight: 600 800;
}
p{
    font-size: clamp(12px, 5vw, 18px);
    font-family: "Montserrat";
    font-weight: 500 800;
    font-style: normal;
}